{% extends "admin_base.html" %}

{% block content %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.oldPassword.label }}<br>
        {{ form.oldPassword(size=32) }}<br>
        {% if form.oldPassword.errors %}
        {% for error in form.oldPassword.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {% endif %}
    </p>
    <p>
        {{ form.newPassword.label }}<br>
        {{ form.newPassword(size=32) }}<br>
        {% if form.newPassword.errors %}
        {% for error in form.newPassword.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {% endif %}
    </p>
    <p>
        {{ form.confirmPassword.label }}<br>
        {{ form.confirmPassword(size=32) }}<br>
        {% if form.confirmPassword.errors %}
        {% for error in form.confirmPassword.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {% endif %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}