{% extends "admin_base.html" %}
{% block content %}

{% if classes_data_by_modules %}
<h1 style="text-align:center;">You are managing the following courses</br></h1>
{% for modules in classes_data_by_modules %}
<div class="container">
        <h3>Module: {{modules[0][0]}}</h3>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Round</th>
            <th>Session</th>
            <th>Quota</th>
            <th>Weekday</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
        </thead>
        <tbody>
        {% for class in modules %}
        <tr>
            <td>{{class[1]}}</td>
            <td>{{class[2]}}</td>
            <td>{{class[3]}}</td>
            <td>{{class[4]}}</td>
            <td>{{class[5]}}</td>
            <td>{{class[6]}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}
{% endif %}
{% endblock %}