{% extends "admin_base.html" %}
{% block content %}
<div class="jumbotron">
    <h3>
        Hello, {{username}}
    </h3>
    <h4>
        Now is Round {{round_no}}
    </h4>
    <h4>
        Start: {{round_startTime}}
    </h4>
    <h4>
        End: {{round_endTime}}
    </h4>
</div>

{% if classes_data_by_modules %}
<a>You are managing the following courses</a>
{% for modules in classes_data_by_modules %}
<div class="container">
        <h2>Module: {{}}</h2>
        <p>The .table class adds basic styling (light padding and horizontal dividers) to a table:</p>            
        <table class="table">
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>john@example.com</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>mary@example.com</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
            </tr>
          </tbody>
        </table>
      </div>
      
<!-- <br>
<tr>
    <a>Module: {{modules[0][0]}}<br></a>
    {% for classes in modules %}
    <td>{{ classes }}</td>
    {% endfor %}
</tr> -->
{% endfor %}
{% endif %}
{% endblock %}