{% extends "student_base.html" %}

{% block content %}
{% if modules %}
<h4> You have taken these modules</h4>
<table class="table" contenteditable="true">
    <thead>
        <tr>
            <th>Module Code</th>
            <th>Faculty</th>
            <th>Modular Credits</th>
        </tr>
    </thead>
    <tbody>
        {% for module in modules %}
        <tr>
            <td>{{ module[0] }}</td>
            <td>{{ module[1] }}</td>
            <td>{{ module[2] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>You have not taken any modules yet</p>
{% endif %}
{% endblock %}